@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: "Roboto", "Poppins" , sans-serif
}
/* Navbar */
nav {
display: flex;
justify-content: space-between;
padding: 15px;
}
nav > .left-nav > a {
  text-decoration: none;
  color: #e4ebf1;
}
.right-nav > ul > li > a {
  text-decoration: none;
  color: #e4ebf1;
}
.right-nav > ul > li {
  list-style-type: none;
}
.left-nav {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.right-nav > ul {
  display: flex;
gap: 2rem;
}